.wrapper {
    margin-bottom: 20px;
    max-width: 25%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.status {
    font-size: 13px;
    line-height: 1.8em;
    padding: 6px 15px;
    background-color: #757a95;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    height: 34px;
    overflow: hidden;
}

.statusWrapper {
    margin-top: 20px;
    position: relative;
}

.noStatus {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 10px;
    white-space: nowrap;
    opacity: .5;
}

.statusWrapper::before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    border-radius: 2px;
    position: absolute;
    top: -8px;
    left: 35px;
    background-color: #757a95;
    z-index: 0;
}

.opacity {
    opacity: .1;
}

.card {
    background-color: #191f2f ;
    border: 1px solid #475072;
    border-radius: 4px;
    overflow: hidden;
}

.infoBox {
    padding: 0 15px 20px;
}

.bgBox {
    position: relative;
    min-height: 118px;
    overflow: hidden;
}

.bgImg {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    width: 100%;
}

.privet {
    display: flex;
    align-items: flex-end;
}

.imgBox {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin-top: -40px;
    z-index: 2;
    position: relative;
    flex-shrink: 0;
}

.userImg {
    width: 100%;
}

.data {
    margin-left: 10px;
    width: 110px;
    overflow: hidden;
}

.name {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: all .1s ease-in-out;
    white-space: nowrap;
}

.name:hover {
    color: #fa6342;
}

.location {
    color: #757a95;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-top: 5px;
    white-space: nowrap;
}

.follow {
    background-color: rgba(255, 255, 255, .3);
    z-index: 3;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .1s ease-in-out;
}

.follow:disabled {
    background-color: transparent;
    cursor: progress;
}

.follow:hover {
    border-color: white;
    background-color: rgba(0,0,0,.3);
}