.dialogs {
    display: inline-grid;
    grid-template-columns:  2fr 10fr;
}

.dialog a {
    color: grey;
    text-decoration: none;
}

/*.dialogsItems  {*/
/*    padding: 10px;*/
/*}*/

.dialogsItems .active {
    color: gold;
}

/*.messages {*/
/*    padding: 10px;*/
/*}*/

/*.messages .message {*/
/*    color: white;*/
/*}*/